<h2>User Info</h3>
<%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
<table class="table">
  <tbody>
    <tr><th>Name<th><th><%= @user.name %></th></tr>
    <tr><th>Introduction<th><th><%= @user.introduction %></th></tr>
  </tobody>
</table>
