<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <%= render 'users/info' %>
      <%= link_to '', edit_user_path(@user.id), class: 'btn btn-outline-secondary btn-block fas fa-user-cog' %>
      <%= render 'new' %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <%= render 'detail' %>
    </div>
  </div>
</div>